.container{
  display: flex;
  align-items: center;
  gap: 40px;
}

.item{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title{
  font-size: 72px;
  background: linear-gradient(to bottom, #194c33, #bbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.img{
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.desc {
  font-size: 24px;
  font-weight: 300;
}

.button{
  padding: 15px;
  cursor: pointer;
  background-color: #53c28b;
  border: none;
  border-radius: 5px;
  width: max-content;
  color: white;
}